.maindiv{
    margin-left:10px;
    transition: 1s;
    position:relative;
    top:110px;
}
.heading{
    
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 46px;
line-height: 30px;
/* identical to box height */

text-transform: capitalize;

color: #0D062D;
}
.iconsInHome{
    background-color:#F5F5F5;
    color:#5030E5;
    border-radius:6px;
    padding:3px;
    cursor:pointer;
}

.avatar-0 {
    position: relative;
    left: 20px; /* Adjust the overlapping amount as needed */

  }
  
  .avatar-1 {
    position: relative;
    left: 15px; /* Adjust the overlapping amount as needed */

  }
  
  .avatar-2 {
  
    position: relative;
    left: 10px; /* Adjust the overlapping amount as needed */

  }
  
  .avatar-3 {
  
    position: relative;
    left: 5px; /* Adjust the overlapping amount as needed */

  }
  
  .box{
    width: 100px;
height: 30px;
padding:3px;
text-align:center;
border: 1px solid #787486;
border-radius: 6px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-transform: capitalize;
  }

.contentBox{
    background: #F5F5F5;
    border-radius: 16px 16px 0px 0px;
}
.todobox{
    background: #FFFFFF;
    border-radius: 16px;
}
#quality,#qualityCom{
    background: rgba(223, 168, 116, 0.2);
border-radius: 4px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
margin-top:2px;
/* identical to box height */


color: #D58D49;
}
#qualityCom{
    background: rgba(131, 194, 157, 0.2);;
    color:#68B266;
}
#titleoftodoBox{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
}
#parainTodobox{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 15px;

color: #787486;
}

@media screen and (max-width: 768px) {
    .maindiv{
      margin-left:0;
    }
}
@media screen and (max-width: 580px) {
    .user-profile{
      margin-right:2%;
    }
}